.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5em;
}

.flex-item-1 {
    order: 1;
}

.flex-item-2 {
    order: 2;
}

.flex-item-3 {
    order: 3;
}

.flex-item-4 {
    order: 4;
}

@media only screen and (max-width: 320px) {
    .flex-container {
        flex-wrap: wrap;
    }
          
    .flex-item-1 {
        order: 1;
        flex-basis: 40%;
    }

    .flex-item-2 {
        order: 3;
        flex-basis: 40%;
    }

    .flex-item-3 {
        order: 4;
        flex-basis: 40%;
    }

    .flex-item-4 {
        order: 2;
        flex-basis: 40%;
    }
}

.stt-btn, .record-ui-btn {
    border-radius: 10%;
}

    .stt-btn > i {
        font-size: 3rem;
    }

    .stt-btn > span {
        font-weight: 600;
    }

.record-ui-btn {
    min-width: 6em;
}

    .record-ui-btn > i {
        font-size: 2rem;
    }

    .record-ui-btn > span {
        font-weight: 600;
    }
